.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.counter {
  font-size: 35px;
}
.counter__btn {
  font-size: 35px;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
