* {
  box-sizing: border-box;
  margin: 0;
}
.header {
  height: 40px;
  background-color: darkturquoise;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  height: 40px;
  list-style: none;
}
.nav-item {
  margin-left: 16px;
  float: left;
  color: #fff;
  line-height: 40px;
}
.content {
  height: 5000px;
  background-color: beige;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(100vh / 2 - 40px);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
  top: -60px;
}
.ear_right {
  left: -40px;
}
.ear_left {
  right: -40px;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
}
.eye_right {
  left: 40px;
}
.eye_left {
  right: 40px;
}
