* {
  box-sizing: border-box;
}
.item {
  margin: 50px;
}
.double-item {
  width: 100px;
  height: 50px;
}
.rectangle {
  border-radius: 16px;
  background-color: forestgreen;
}

.oval {
  background-color: darkmagenta;
  border-radius: 50%;
}
.item-1 {
  width: 100px;
  height: 100px;
}
.circle {
  background-color: aquamarine;
  border-radius: 50%;
}
.triangle {
  border: 50px solid transparent;
  border-top-color: brown;
}
.triangle-second {
  width: 125px;
  height: 125px;
  border: 25px solid transparent;
  border-bottom-color: coral;
}
